[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/Conque-GDB"]
	path = sources_non_forked/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB
[submodule "sources_non_forked/AutoComplPop"]
	path = sources_non_forked/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = https://github.com/corntrace/bufexplorer
[submodule "sources_non_forked/clang_complete"]
	path = sources_non_forked/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/open_file_under_cursor.vim"]
	path = sources_non_forked/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim
[submodule "sources_non_forked/peaksea"]
	path = sources_non_forked/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "sources_non_forked/snipmate-snippets"]
	path = sources_non_forked/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "sources_non_forked/tabline.vim"]
	path = sources_non_forked/tabline.vim
	url = https://github.com/mkitt/tabline.vim
[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "sources_non_forked/tlib"]
	path = sources_non_forked/tlib
	url = https://github.com/vim-scripts/tlib
[submodule "sources_non_forked/VHDL-indent-93-syntax"]
	path = sources_non_forked/VHDL-indent-93-syntax
	url = https://github.com/vim-scripts/VHDL-indent-93-syntax
[submodule "sources_non_forked/vim-addon-mw-utils"]
	path = sources_non_forked/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "sources_non_forked/vim-airline"]
	path = sources_non_forked/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "sources_non_forked/vim-airline-themes"]
	path = sources_non_forked/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "sources_non_forked/vim-colors-solarized"]
	path = sources_non_forked/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "sources_non_forked/vim-commentary"]
	path = sources_non_forked/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "sources_non_forked/vim-easy-align"]
	path = sources_non_forked/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "sources_non_forked/vim-fugitive"]
	path = sources_non_forked/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "sources_non_forked/vim-indent-object"]
	path = sources_non_forked/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "sources_non_forked/vim-latex"]
	path = sources_non_forked/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "sources_non_forked/vim-multiple-cursors"]
	path = sources_non_forked/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "sources_non_forked/vim-repeat"]
	path = sources_non_forked/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "sources_non_forked/vim-snipmate"]
	path = sources_non_forked/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "sources_non_forked/vim-unimpaired"]
	path = sources_non_forked/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "sources_non_forked/YankRing.vim"]
	path = sources_non_forked/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "sources_non_forked/darcula"]
	path = sources_non_forked/darcula
	url = https://github.com/blueshirts/darcula.git
[submodule "sources_non_forked/vim-railscasts-theme"]
	path = sources_non_forked/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = https://github.com/morhetz/gruvbox.git
