[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/Conque-GDB"]
	path = sources_non_forked/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB
[submodule "sources_non_forked/AutoComplPop"]
	path = sources_non_forked/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = https://github.com/corntrace/bufexplorer
[submodule "sources_non_forked/clang_complete"]
	path = sources_non_forked/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim
