[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/Conque-GDB"]
	path = sources_non_forked/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB
